* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    width:100%;
}

body {
    background-color: #191d7b;
}

div.top{
    width: 600px;
    max-width:100%;
    margin:30px auto 30px auto;
    text-align: center;
    color:white;
}

.text_big{
    text-transform: uppercase;
    font-family: "Sigmar", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:2rem;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 20px;
}

.download_button {
    margin:15px auto 5px auto;
    width:600px;
    max-width:100%;
    padding: 16px;
    border-radius: 10px 10px;
    border-width: 0;
}

.discord_button {
    color: white;
    background-color: #5865f2;
    margin: 5px auto;
    border-radius: 10px 10px;
    width:600px;
    max-width:100%;
    padding:16px;
    border-width: 0;
}

.discord_button:hover{
    background-color:#5d64d1;
}

div.card{
    padding:40px 20px;
    width: 600px;
    max-width:100%;
    margin:10px auto 30px auto;
    text-align:left;
    color:white;
    /*background-color: #5d64d1;*/
    border-radius:30px 30px;
    position:relative;
    background-image: url("../img/background.png");
    background-size: cover;
}

.testo_norm{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
}

video{
    width:100%;
    border-radius: 30px 30px;
}

.test{
    width: 80px;
    height: 80px;
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
}

section{
    padding:30px;
}

.bi-cloud-download-fill{
    color:black;
}

.bi-arrow-up{
    color:white;
    background-color: #5d64d1;;
    position:fixed;
    width:40px;
    height: 40px;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}