* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    width:100%;
}

body {
    background-color: #301098;
}

section.intro{
    padding:10px;
    width: 350px;
    max-width:100%;
    margin:30px auto auto auto;
    text-align: center;
    color:white;
}

.text_big{
    text-transform: uppercase;
    font-family: "Sigmar", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:2rem;
    letter-spacing: 0;
    line-height: 32px;
}

.download_button {
    margin:15px auto 5px auto;
    width:350px;
    max-width:100%;
    padding: 16px;
    border-radius: 10px 10px;
    border-width: 0;
}

.discord_button {
    color: white;
    background-color: #2D41C0;
    margin: 5px auto;
    border-radius: 10px 10px;
    width:350px;
    max-width:100%;
    padding:16px;
    border-width: 0;
}